<div class="footer">
    <div class="f_social">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="f_company">
        &copy;RoomRentals 2023
    </div>
    <div class="f_links">
        <a href="/license">License</a>
        <a href="/termsofservice">Terms of Service</a>
        <a href="Privacy">Privacy</a>
    </div>
</div>