<%- layout('/layouts/boilerplate.ejs') %>

<div class="hero-container">
    <h1 class="hero-text">Welcome to Room Rentals!</h1>
    <form action="/listings" method="get">
        <button class="submit_btn">View all Listings</button>
    </form>
</div>