<% layout('/layouts/boilerplate.ejs') %>
<div class="container m-auto row mt-5">
    <h1 class="col-6 offset-3 mb-3 form-heading">LogIn</h1>
    <div class="col-6 offset-3 mt-3">
        <form action="/login" method="post">
            <!-- Username -->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <!-- Email -->
            <!-- <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div> -->
            <!-- Password -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>

            <button class="submit_btn mb-3" type="submit">Submit</button>
        </form>
    </div>
</div>