<%- layout('/layouts/boilerplate.ejs') %>

<div class="notifications">
    <h2>Notifications</h2>
    <% if(notif && notif.length) {%>
        <ul>
            <% notif.map((item)=>{ %>
                <li><%= item.content %></li>
            <% }) %>
        </ul>
        <% }else{ %>
            <p>No New Notifications</p>
    <% } %>
</div>